body, html, div, p, span, a, h1, h2, h3, h4, h5{
	margin 				: 0;
	padding 			: 0;
}

body, html{	
	width 				: 100%;
}

li { min-height:44px; line-height:44px; }
a { line-height:40px; height:40px; font-size:22px; }
a ins { height:40px; width:40px; background-position:-56px -17px; } 

li.jstree-open .node > a .jstree-icon {background:url("../images/node.png") 0px 0px no-repeat !important;}
li.jstree-closed .node > a .jstree-icon {background:url("../images/node.png") 0px 0px no-repeat !important;}
li.jstree-leaf > .node a .jstree-icon { display: none; }

li.jstree-open .data > a .jstree-icon {background:url("../images/data.png") 0px 0px no-repeat !important;}
li.jstree-closed .data > a .jstree-icon {background:url("../images/data.png") 0px 0px no-repeat !important;}
li.jstree-leaf > .data a .jstree-icon { display: none; }